* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Water Brush", cursive;
  scroll-behaviour: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Ourservices {
  margin: 50px;
}
