@import url("https://fonts.googleapis.com/css?family=Anton");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: CaveatRegular;

  scroll-behaviour: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Ourservices {
  margin: 50px;
  font-family: font;
}
